/*

Host Cloud Template

https://templatemo.com/tm-541-host-cloud

*/

body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #6a6a6a;
	line-height: 25px;
}
a {
	text-decoration: none!important;
}
a.main-button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 25px;
	border: none;
	margin-left: 10px;
	background-color: #00bcd4;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
a.main-button:hover {
	background-color: #00a4b9;
}
a.gradient-button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 25px;
	border: none;
	margin-left: 10px;
	background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
a.gradient-button:hover {
	background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(50,100,245,1) 0%, rgba(114,2,187,1) 100%);
}
.section-heading {
	margin-bottom: 80px;
}
.section-heading span {
	color: #00bcd4;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	display: inline-block;
	margin-top: 0px;
}
.section-heading h2 {
	color: #1e1e1e;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.section-heading p {
	font-size: 15px;
}

.page-heading {
	background-image: url(../images/heading-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 230px 0px 180px 0px;
}

.page-heading h1 {
	color: #fff;
	font-size: 44px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}
.page-heading p {
	color: #fff;
	letter-spacing: 0.5px;
}
.page-heading p a {
	color: #fff;
	font-size: 15px;
}
.page-heading p a {
	margin-right: 5px;
}
.page-heading p span {
	color: #fff;
	opacity: 0.75;
	margin-left: 5px;
}
#preloader {
  overflow: hidden;
  background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* Header Style */
header {
	position: fixed;
	z-index: 99999;
	width: 100%;
	background-color: transparent!important;
	border-bottom: 1px solid rgba(250,250,250,0.30);
	height: 80px;
	-webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.background-header {
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
	color: #1e1e1e!important;
}
.background-header .navbar-nav a.nav-link {
	color: #1e1e1e!important;
}
.background-header .functional-buttons	ul li:first-child a {
	display: inline-block;
	background-color: transparent;
	border: 2px solid #00bcd4;
	text-transform: uppercase;
	font-size: 13px;
	color: #00bcd4;
	padding: 6px 20px;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
.background-header .functional-buttons	ul li:first-child a:hover {
	color: #fff;
	background-color: #00bcd4;
	border-color: #00bcd4;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #00bcd4!important;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: 12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	font-size: 16px;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #00bcd4;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}

.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: #00bcd4;
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}
.functional-buttons {
	margin-left: 5%;
}
.functional-buttons	ul {
	margin: 0;
	padding: 0;
}
.functional-buttons	ul li {
	display: inline-block;
	margin-left: 10px;
}
.functional-buttons	ul li:first-child a {
	display: inline-block;
	background-color: transparent;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	padding: 6px 20px;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
.functional-buttons	ul li:first-child a:hover {
	color: #00bcd4;
	background-color: #fff;
}
.functional-buttons	ul li:last-child a {
	display: inline-block;
	background-color: #00bcd4;
	border: 2px solid #00bcd4;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	padding: 6px 20px;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
.functional-buttons	ul li:last-child a:hover {
	background-color: #00a4b9;
	border-color: #00a4b9;
}

/* Banner Style */
.banner {
	background-image: url(../images/banner-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 300px 0px;
	background-position: center center;
}
.banner .caption {
	text-align: center;
}
.banner .caption h2 {
	letter-spacing: 1px;
	margin-top: 0px;
	margin-bottom: 50px;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
}
.banner #search-section fieldset {
	display: inline-block;
}
.banner #search-section {
	position: relative;
}
.banner #search-section input.searchText {
	float: left;
	width: 570px;
	min-width: 280px;
	height: 49px;
	background-color: transparent;
	border: 1px solid #fff;
	padding: 0px 15px;
	color: #fff;
	outline: none;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}
.banner #search-section input.main-button {
	position: absolute;
	top: 0;
	right: 0;
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	border: none;
	margin-left: 10px;
	background-color: #00bcd4;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: all 0.5s;
	margin-bottom: 30px;
}
.banner #search-section button:hover {
	background-color: #00a4b9;
}
#search-section ul {
	padding: 0;
	margin: 0;
	text-align: center;
	display: inline-block;
}
#search-section ul li {
	display: inline-block;
	margin-right: 30px;
}
#search-section ul li:last-child {
	margin-right: 0px;
}
#search-section input[type=checkbox] {
	width: 18px;
	min-width: 18px;
	height: 18px;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
	cursor: pointer;
}
#search-section span {
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	margin-left: 8px;
}
#search-section em {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
#search-section ::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

#search-section :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#search-section ::placeholder {
  color: #fff;
}



/* Trusted Style */
.trusted-section {
	padding: 50px 0px 40px 0px;
	background-color: #f7f7f7;
}
.trusted-section-heading {
	text-align: center;
}
.trusted-section-heading h4 {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
	color: #1e1e1e;
	margin-bottom: 50px;
}
.trusted-item img {
	max-width: 156px;
	margin: 0 auto;
}



/* Services Style */
.services-section {
	margin-top: 140px;
}
.services-section .section-heading h2 {
	color: #1e1e1e;
}
.services-section .service-item {
	background-color: #f7f7f7;
	border-radius: 5px;
	padding: 50px 40px;
	text-align: center;
	margin-bottom: 30px;
}
.services-page .service-item {
	margin-bottom: 30px;
}
.services-section .service-item i {
	color: #fff;
	background-color: #00bcd4;
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	font-size: 32px;
}
.services-section .service-item h4 {
	margin-top: 35px;
	font-size: 19px;
	color: #1e1e1e;
	text-transform: capitalize;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}


/* Pricing Style */
.pricing-section {
	margin-top: 140px;
}
.background-image-pricing {
	background-image: url(../images/pricing-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	position: absolute;
	width: 100%;
}
.pricing-section .section-heading {
	text-align: center;
	margin-top: 80px;
}
.pricing-section .section-heading h2,
.pricing-section .section-heading p {
	color: #fff;
}
.pricing-item {
	background-color: #fff;
	text-align: center;
	padding: 50px 50px 30px 50px;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.pricing-item h4 {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
	color: #1e1e1e;
	letter-spacing: 0.5px;
	margin-bottom: 45px;
}
.pricing-item .price-gradient {
	background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
}
.pricing-item .price {
	background-color: #00bcd4;
	width: 100%;
	padding: 30px 0px;
	margin-bottom: 35px;
}
.pricing-item .price h6 {
	font-size: 32px;
	color: #fff;
	font-weight: 900;
	letter-spacing: 0.5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.pricing-item .price span {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}
.pricing-item .dev {
	width: 100%;
	height: 1px;
	background-color: #eee;
	margin: 35px 0px 30px 0px;
}
.pricing-item ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: left;
}
.pricing-item ul li {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 16px;
	color: #6a6a6a;
}
.pricing-item ul li i {
	font-size: 14px;
	margin-right: 8px;
	color: #491bb1;
}
.pricing-item ul li:last-child {
	margin-bottom: 40px;
}
.pricing-item a.main-button,
.pricing-item a.gradient-button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -25px;
}



/* Features Style */
.features-section {
	margin-top: 160px;
}
.features-section .section-heading {
	text-align: center;
}
.features-section .section-heading h2 {
	color: #1e1e1e;
}
.features-section .feature-item {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 30px;
}
.features-section .feature-item .icon {
	float: left;
	margin-top: 12px;
}
.features-section .feature-item .icon img {
	max-width: 80px;
	margin-right: 30px;
}
.features-section .feature-item h4 {
	font-size: 18px;
	color: #1e1e1e;
	letter-spacing: 0.5px;
	font-weight: 700;
}
.features-section .feature-item p {
	margin-left: 106px;
}



/* Testimonials Style */
.testimonials-section {
	margin-top: 140px;
	background-color: #f7f7f7;
	padding: 100px 0px;
}
.testimonials-section .section-heading {
	text-align: center;
}
.testimonials-section .section-heading h2 {
	color: #1e1e1e;
}
.testimonial-item {
	text-align: center;
}
.testimonial-item i {
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	color: #fff;
	background: rgb(114,2,187);
    background: linear-gradient(145deg, rgba(114,2,187,1) 0%, rgba(50,100,245,1) 100%);
    border-radius: 50%;
    font-size: 18px;
    margin-bottom: 45px;
}
.testimonial-item p {
	font-size: 19px;
	font-weight: 300;
	font-style: italic;
	line-height: 35px;
	margin-bottom: 40px;
}
.testimonial-item h4 {
	font-size: 19px;
	font-weight: 700;
	color: #1e1e1e;
	letter-spacing: 0.5px;
	margin-bottom: 0px;
}
.testimonial-item span {
	display: inline-block;
	margin-top: 8px;
	font-size: 15px;
	color: #00bcd4;
}
.owl-testimonials .owl-dots .owl-dot {
  border-radius: 3px;
}
.owl-testimonials .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 50px
}
.owl-testimonials .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: #7bd9e5;
}
.owl-testimonials .owl-dots .owl-dot:focus {
    outline: none
}
.owl-testimonials .owl-dots .owl-dot.active {
    background-color: #00bcd4;
}


/* Footer Style */
footer {
	background-color: #f7f7f7;
	text-align:center;
}

	
#tabs {
  margin-right: 0px;
}
#tabs ul {
  margin: 0;
  padding: 0;
}
#tabs ul li {
  margin-right: 40px;
  display: inline-block;
}
#tabs ul li:last-child {
  margin-right: 0px;
}
#tabs ul li a {
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: all 0.3s;
}
#tabs ul .ui-tabs-active span {
  background: #faf5b2;
  border: #faf5b2;
  line-height: 90px;
  border-bottom: none;
}
#tabs ul .ui-tabs-active a {
  color: #00bcd4;
}
#tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
.tabs-content {
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}
.tabs-content p {
  font-size: 14px;
  color: #7a7a7a;
  margin-top: 30px;
  margin-bottom: 0px;
}


/* Team Style */
.team-section {
	margin-top: 140px;
}
.team-section .section-heading {
	text-align: center;
}
.team-section .section-heading h2 {
	color: #1e1e1e;
}
.team-item:hover img {
	opacity: 0.75;
}
.team-item {
	cursor: pointer;
	margin-bottom: 30px;
}
.team-item img {
	width: 100%;
	overflow: hidden;
	transition: all 0.5s;
}
.team-item .down-content {
	background-color: #f7f7f7;
	text-align: center;
	padding: 30px;
}
.team-item h4 {
	font-size: 19px;
	font-weight: 700;
	color: #1e1e1e;
	letter-spacing: 0.5px;
	margin-bottom: 0px;
}
.team-item span {
	display: inline-block;
	margin-top: 8px;
	font-size: 15px;
	color: #00bcd4;
}




/* Contact Us Page Style */
.contact-us {
	margin-top: 140px;
}
.contact-us .contact-form {
	margin-right: 30px;
	display: inline-block;
}
.contact-us .right-content {
	margin-left: 30px;
}
.contact-us .section-heading h2 {
	color: #1e1e1e;
}
.contact-us .section-heading {
	margin-bottom: 40px;
	border-bottom: 3px solid #eee;
	padding-bottom: 40px;
}
.contact-form input,
.contact-form textarea {
	letter-spacing: 0.5px;
	font-weight: 500;
    color: #6a6a6a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 46px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}
.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}
.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #6a6a6a;
}
.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6a6a6a;
}
.contact-form ::placeholder {
  color: #6a6a6a;
}
.contact-form button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	border: none;
	background-color: #00bcd4;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
.contact-form button:hover {
	background-color: #00a4b9;
}
.contact-us .right-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.contact-us .right-content ul li {
	display: block;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 600;
	color: #1e1e1e;
	letter-spacing: 0.5px;
}
.contact-us .right-content ul li:last-child {
	margin-bottom: 0px;
}
.contact-us .right-content ul i {
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	background-color: #00bcd4;
	border-radius: 50%;
	color: #fff;
	margin-right: 15px;
	font-size: 24px;
}
#map {
	margin-top: 140px;
	margin-bottom: -147px;
}

/* Responsive Style */
@media (max-width: 1200px) {
	.banner #search-section input.main-button {
		position: absolute;
		top: 75px;
		left: 50%;
		transform: translateX(-50%);
	}
	.banner #search-section input.searchText {
		float: none;
		width: 100%;
	}
	#search-section ul {
		text-align: center;
		margin-top: 80px;
	}
	#search-section ul li {
		display: inline-block;
		margin-bottom: 15px;
		margin-right: 15px;
	}
	#search-section ul li fieldset label {
		font-size: 12px;
		margin-left: 5px;
	}
	#search-section ul li fieldset label em {
		font-size: 13px;
	}
	.contact-us .right-content ul li {
		text-align: center;
		width: 100%;
	}
	.contact-us .right-content ul li i {
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 15px;
	}
}
@media (max-width: 991px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 10px;
	}
	.functional-buttons {
		position: absolute;
		left: 50%;
		top: 20px;
		transform: translate(-50%);
		margin-left: 15px;
	}
	.banner #search-section fieldset button {
		margin-top: 0px;
	}
	.banner #search-section fieldset input {
		width: 100%;
		min-width: 280px;
		margin-bottom: 30px;
	}
	.navbar .navbar-brand {
		width: auto;
	}
	.navbar:after {
		display: none;
	}
	#navbarResponsive {
	    z-index: 99999;
	    position: absolute;
	    top: 80px;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    background-color: #fff;
	    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	}
	.navbar .navbar-nav .nav-item {
		border-bottom: 1px solid #eee;
	}
	.navbar .navbar-nav .nav-item:last-child {
		border-bottom: none;
	}
	.navbar .navbar-nav a.nav-link {
		padding: 15px 0px;
		color: #1e1e1e!important;
	}
	.navbar .navbar-nav .active>.nav-link {
		color: #00bcd4!important;
	}
	.about-us .left-image {
		margin-bottom: 30px;
		margin-right: 0px;
	}
	.about-us .right-content,
	.contact-us .right-content {
		margin-left: 0px;
	}
	.contact-us .contact-form {
		margin-right: 0px;
		margin-bottom: 45px;
	}
	.contact-us .right-content ul {
		margin-bottom: 30px;
	}
	.contact-us .right-content ul li {
		text-align: left;
		width: 100%;
	}
	.contact-us .right-content ul li i {
		margin-left: 0px;
	}
}


@media (max-width: 576px) {
	.functional-buttons	ul li:first-child a {
		padding: 6px 10px;
		letter-spacing: 0px;
	}
	.functional-buttons	ul li:last-child a {
		padding: 6px 10px;
		letter-spacing: 0px;  
	}
	.functional-buttons {
		margin-left: 7.5%;
	}
	.functional-buttons	ul li {
		display: inline-block;
		margin-left: 3px;
	}
	.navbar .navbar-toggler {
		right: 20px;
	}

	.background-header .functional-buttons	ul li:first-child a {
		padding: 6px 10px;
		letter-spacing: 0px;
	}
}

.color{
	color: #ffffff;
}

#signout{
	color:#ffffff;
	position:absolute;
	top:10px;
	right:10px;
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: 700;
	background-color: transparent;
}

#stats{
	color:#ffffff;
	position:absolute;
	top:10px;
	right:100px;
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: 700;
	background-color: transparent;
}

table {
	border-collapse: collapse;
}

table tr th {
	border: solid 1px #ccc;
	height: 30px;
	/* width: 100px; */
	/* background-color: #eee; */
	text-align: center;
}

table tr td {
	border: solid 1px #ccc;
	height: 30px;
	text-align: center;
	min-width: 150px;
   
	/* background-color: #eee; */
}

table tr:hover {
	background-color:#000000 ;
	/* coral; */
}


