<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Login</title>

  <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="static/assets/css/style.css">
  <script type="text/javascript" src="/static/assets/js/login.js"></script>

  <style>
    .page-heading {
      padding: 15% 0px 12% 0px;
    }

    header {
      height: 60px;
    }

    .page-heading h1 {
      margin-bottom: 0px;
    }

    .contact-us {
      margin-top: 3%;
      margin-bottom: 1%;
    }

  </style>

</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}


  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <h2>Flask <em>URL</em></h2>
        </a>
      </div>
    </nav>
  </header>
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Sign In</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-form">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <fieldset>
                    <input name="username" type="text" id="username" placeholder="Username" required="">
                    <span id="s_username"
                      style="position: absolute; top: 10px; right: 15px; display: table-cell; white-space: nowrap; padding: 5px 5px;"></span>
                  </fieldset>
                </div>
                <div class="col-md-12 col-sm-12">
                  <fieldset>
                    <input name="password" type="password" placeholder="Password" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button class="form" name="login_form" action="/login" method="post">Sign in</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>Copyright &copy; 2021 FlaskURL Team</p>
  </footer>

</body>

</html>