<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Results</title>

  <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="static/assets/css/style.css">
  <style>
    @media (min-width: 1200px) {
      .container {
        max-width: 1300px;
      }
    }

    .banner .caption h2 {
      letter-spacing: 1px;
      margin-top: 0px;
      margin-bottom: 50px;
      font-size: 3vw;
      font-weight: 700;
      color: #fff;
    }
  </style>
</head>

<body>

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <h2>Flask <em>URL</em></h2>
        </a>
        <button id = "signout" onclick="javascript:window.location.href='/signout';">Sign out</button>
        <!-- <a id ="signout" href="/login">Signout</a> -->
        <button id = "stats" onclick="javascript:window.location.href='/stats';">View Stats</button>
        <!-- <button id ="stats" action="/login">Stats</button> -->
      </div>
    </nav>
  </header>

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="header-text caption">
            <h2>Your shortened url is <br><a href={{shortened_url}}>{{shortened_url}}</a></h2>
            <h2>You can also use this QR code </h2><img  width="40%" class="fit-picture" src={{qr_code_file}} alt="Your beautiful QR code !">
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>Copyright &copy; 2021 FlaskURL Team</p>
  </footer>

</body>

</html>