<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Shorten</title>

  <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="static/assets/css/style.css">

</head>

<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <h2>Flask <em>URL</em></h2>
        </a>
        <button id = "signout" onclick="javascript:window.location.href='/signout';">Sign out</button>
        <!-- <a id ="signout" href="/login">Signout</a> -->
        <button id = "stats" onclick="javascript:window.location.href='/stats';">View Stats</button>
        <!-- <button id ="stats" action="/login">Stats</button> -->
      </div>
    </nav>
  </header>

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="header-text caption">
            {% if current_user.is_authenticated %}
            <h2> Hello, {{ current_user.username }}</h2>
            {% endif %}
            <h2>Create your URL !</h2>
            <div id="search-section">
              <form id="suggestion_form" name="Form" method="post" action="/shorten" onsubmit="return IsEmpty()">
                <div class="searchText">
                  <input type="text" name="input-url" class="searchText" placeholder="Put your URL to shorten here"
                    autocomplete="on">
                </div>
                <input type="submit" name="results" class="main-button" value="Shorten">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>Copyright &copy; 2021 FlaskURL Team</p>
</footer>
</body>

</html>