<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Results</title>

    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="static/assets/css/style.css">
    <style>
        body {
            margin: 0px;
            width: 100%;
            min-width: 1000px;
            max-width: 100%;
            height: 100%;
        }
    </style>

</head>

<body>

    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <h2>Flask <em>URL</em></h2>
                </a>
                <button id="signout" onclick="javascript:window.location.href='/signout';">Sign out</button>
                <button id="stats" onclick="javascript:window.location.href='/shorten';">Shorten</button>
            </div>
        </nav>
    </header>

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="header-text caption">
                        <h2 style="color:#FFFFFF">Your stats, {{ current_user.username }}</h2>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th>
                                    <font size="4%" color=#FFFFFF>Original URL</font>
                                </th>
                                <th>
                                    <font size="4%" color=#FFFFFF>Shortened URL</font>
                                </th>
                                <th>
                                    <font size="4%" color=#FFFFFF>Number Of Clicks</font>
                                </th>
                            </tr>
                            {% for value in url %}
                            <tr>
                                <td>
                                    <font size="3%" color=#FFFFFF>{{ value.original_url}}</font>
                                </td>
                                <td>
                                    <font size="3%" color=#FFFFFF>https://0.0.0.0:5000/{{ value.shortened_url}}
                                    </font>
                                </td>
                                <td>
                                    <font size="3%" color=#FFFFFF>{{ value.number_of_clicks}}</font>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Copyright &copy; 2021 FlaskURL Team</p>
    </footer>

</body>

</html>