<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="refresh" content="10; URL={{original_url}}" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>Redirect</title>

  <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body>

  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <h2>Flask <em>URL</em></h2>
        </a>
      </div>
    </nav>
  </header>

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="header-text caption">

          <h3> Redirecting to <a href={{original_url}}>{{original_url}}</a> in <span id="countdown">10</span> seconds
		</h3>
		<!-- JavaScript part -->
		<script type="text/javascript">
		   
		    // Total seconds to wait
		    var seconds = 10;
		   
		    function countdown() {
			seconds = seconds - 1;
			if (seconds >= 0) {

			    document.getElementById("countdown").innerHTML = seconds;
			    window.setTimeout("countdown()", 1000);
			}
		    }

		    countdown();
		    </script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>Copyright &copy; 2021 FlaskURL Team</p>
  </footer>

</body>

</html>
